@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(img/mobile-bg.png);
}

.black-bar {
  display: none;
}

.white-bar {
  display: none;
}

/* nav menu */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(12, 28, 97, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: gold;
}

.overlay .closebtn {
  position: absolute;
  left: 10px;
  font-size: 60px;
  color: #f1f1f1;
}

/* main header */

.info {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  margin-top: 50px;
}

.info h1 {
  font-size: 40px;
  font-weight: 900;
  margin-block-start: 1px;
  background-image: url(img/text-bg.png);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info h2 {
  font-size: 20px;
  font-weight: 700;
  background-image: url(img/text-bg.png);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para p {
  border: solid rgb(255, 255, 255);
  color: #272a32;
  font-size: 18px;
  background-color: #f5f5f5;
  width: fit-content;
  padding: 10px 10px;
}

.date {
  font-size: 26px;
  font-weight: 900;
  margin-top: 50px;
  color: #494949;
}

.place {
  font-weight: 400;
  font-size: medium;
  margin-top: 15px;
  padding-bottom: 100px;
  color: #494949;
}

/* program section */
.program {
  background-color: #272a32;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro-header {
  color: white;
  text-align: center;
  font-weight: bolder;
}

.prog-boxes {
  gap: 10px;
  padding: 20px 20px;
}

.prog-box {
  width: fit-content;
  border: solid #272a31;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #3d4149da;
  cursor: pointer;
}

.prog-boxes :hover{
  border: solid white;
  transition: 0.8s;
}

.prog-box :hover {
  border: none;
}

.prog-boxes img {
  height: 50px;
}

.prog-boxes h4 {
  padding: 10px 10px;
  color: #ec5242;
}

.prog-boxes p {
  padding: 10px 10px;
  color: #f5f5f5;
}

.desktop-see {
  display: none;
}

.join-mobile {
  height: 50px;
  width: 180px;
  background-color: #ec5242;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}


/* footer section */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #d3d3d3;
}

.footer img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.footer p {
  font-size: x-small;
}

/* speakers section */
.feature-section {
  padding: 0 20px;
}

.feature-wrapper {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-title {
  color: var(--black);
}

.speaker-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 30px 0;
}

.speaker-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 12px;
}

.image-wrapper {
  width: 100%;
  height: 120px;
  position: relative;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.speaker-img {
  width: 120%;
  height: 80%;
  margin: 10px 4px;
  z-index: 1;
}

.speaker-info {
  margin-left: 10px;
}

.speaker-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--black);
  margin-bottom: 6px;
}

.speaker-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  font-style: italic;
  margin: 10px 0;
  color: #ec5242;
}

.speaker-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: var(--black);
  margin-top: 6px;
}

/* sponcers header */
.sponcers {
  background-color: #272a31;
}

.partners-logo {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.partners-img {
  height: 50px;
  width: 45px;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  header {
    background-image: url(img/desktop-bg.png);
  }

  .black-bar {
    background-color: rgb(83, 83, 83);
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .black-bar img {
    height: 20px;
    width: 20px;
    padding: 0 15px;
  }

  .black-bar a {
    padding: 5px 15px;
    font-size: small;
    text-decoration: none;
    color: white;
  }

  .white-bar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
  }

  .white-bar img {
    height: 60px;
    width: 80px;
  }

  .white-bar a {
    text-decoration: none;
    color: black;
  }

  .white-bar a:hover {
    color: red;
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
  }

  .red-box {
    border: solid red;
    color: red;
    padding: 10px 12px;
  }

  /* nav menu */
  .openbtn {
    display: none;
  }

  /* main header */

  .info {
    background-image: url(img/spbg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 10px;
  }

  .info h1 {
    margin-block-start: 1px;
    margin-inline-start: 120px;
    font-weight: 900;
    font-size: 60px;
  }

  .info h2 {
    margin-inline-start: 120px;
    font-weight: 400;
    font-size: 30px;
  }

  .para p {
    font-weight: 400;
    border: solid rgb(255, 255, 255);
    width: 500px;
    color: #272a32;
    padding: 10px 15px;
    background-color: #f5f5f5;
    margin-inline-start: 120px;
  }

  .date {
    color: #494949;
    font-weight: 900;
    font-size: xx-large;
    margin-inline-start: 120px;
  }

  .place {
    color: #494949;
    font-weight: 400;
    padding-top: 10px;
    font-size: large;
    margin-inline-start: 120px;
  }

  /* programe section */

  .programe {
    color: white;
    text-align: center;
  }

  .pro-header {
    padding-top: 20px;
    font-size: larger;
    font-weight: bold;
  }

  .red-line {
    color: #ec5242;
  }

  .prog-boxes {
    display: flex;
    justify-content: center;
  }

  .prog-box {
    display: flex;
    flex-direction: column;
  }

  .prog-box img {
    height: 55px;
    padding-top: 25px;
  }

  .prog-box h4 {
    color: #ec5242;
    padding: 0 0 0 0;
  }

  .prog-box p {
    padding: 0 10px;
    width: 200px;
    text-align: center;
  }

  .desktop-see {
    display: block;
    font-weight: 700;
    text-align: center;
    padding: 40px 10px;
  }

  .desktop-see a {
    color: white;
  }

  .join-mobile {
    display: none;
  }

  /* speakers section */
  .feature-section {
    padding: 0 140px;
  }

  .speaker-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 0;
  }

  .speaker-img {
    width: 100%;
    height: 100%;
    margin: 10px 0 0 10px;
    z-index: 1;
  }

  /* sponcers section */

  .partners-img {
    height: 80px;
    width: 75px;
    padding: 10px 50px 30px;
  }

  /* footer section */

  .footer {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  .footer img {
    height: 100px;
    width: 150px;
  }

  .footer p {
    padding: 30px;
  }
}
